body{
    background-color: #0b1a25;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    overflow-x: hidden;
}
.app_bar{
    z-index: 1;
    position: fixed;
    height: 78px;
    width: 100%;
    background-color: rgb(3 110 111);
    display: flex;
    align-items: center;
    justify-content: end;
}
.app_bar a{
    padding-left: 30px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.app_bar .btn{
    display: none;

}

.nav a{
    color: white;
    font-size: 16px;
}
.home_section{
    
    height:500px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-repeat: repeat-x;
    background-size: contain;
    
 
   
   
    /* background-color: #0b1a25; */
    background-image: linear-gradient(0deg, rgb(14 14 14 / 73%), rgb(26 213 196 / 52%)), url("./images/home_background.webp");
    
}
.home_section h1{
    color: white;
   
}
.home_text_switch h1{
    letter-spacing: 5px;
    line-height: 66px;
}



.about_section{
    z-index: 0;

    /* background-color: aqua; */
    background-color: #0b1a25;
}
.about_heading{
    color: white;
}
.about_row{
    background-color: black ;
    height: 400px;
    padding-left: 32px;
    padding-top: 51px;
}

.about_content{
    color:white;
    

}
#about{
    margin-top: 115px;
    
}
#about h2{
    color:white;
   
}
.photo_section{
    border-style: solid ;
    height: 60vh;
}
.line_style{
    border-radius: 2px solid orange;
}
.lets_talk {
    padding-top: 18px;
    line-height: 35px;
}
.skills_section h1{
    color: white;
}
#skills{
    
}
.help{
    display: flex;
    align-items: center;
    padding-bottom: 80px;
}
.tree_help{
    border-radius: 30px;
    background-color: black;
    height: 304px;
    padding-top: 18px;
   
}
.tree_help p{
    
    color: white;
}
.gap{
    height: 60px;
    width:100%
}
.gap_100{
    height: 100px;
    width:100%
}
#education h2{
    color:white;
    
}
.edu{
    color: white;
}
.edu_section{
    background-color: black;
}


hr{
  
    color: aqua;
    margin-top: -11px;
    margin-left: 91px;
    margin-right: 28px;
    height: 2px;
}


.service-box {
  color: #fff;
  width: 100%;
margin-top: 65px;

background-color: black;

padding: 2.5rem 1.3rem;

border-radius: 1rem;

margin-bottom: 3rem;

text-align: center;

font-family: 'Montserrat';
 }

.service-box img {
    width: 76px;
    margin-top: -103px;
    border-radius: 51px;
    background-color: white;
}






#service-box .ico-circle {

/* transition: all 500ms ease; */
 display: inline-flex;

 align-items: center;

 justify-content: center;}








@media screen and (max-width: 600px) {
    body{
        padding: 0;
        margin: 0;
        box-sizing: border-box;

    }
    .app_bar {
      background-color: olive;
    }
    .app_bar a{
        display: none;
    }
    .app_bar .btn{
        display: block;
    
    }
    .home_section{
        height: 100%;
        width: 100%;
    }
    .home_text_switch h1{
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 3px;
    }
    .about_row{
        
    }




   
    

  }

  /* @media screen and (max-width: 1300px) {
    .app_bar .btn{
        display: none;
    }
    
  } */